<div class="area-content">
    @if(partida){
        <div class="voltar">
            <a class="btn-voltar" routerLink="/usuario/escolher-categoria">Voltar</a>
        </div>
        <h1 class="cronometro">@if(minutos < 10){0}{{minutos}}:@if(segundos < 10){0}{{segundos}}</h1>
    
        <div class="questoes">
            @for(partidaQuestao of partida.partidaQuestoes; track partidaQuestao.questao.id){
                <div class="questao">
                    <div class="titulo">
                        <h3>{{partidaQuestao.questao.descricao}}</h3>
                    </div>
                    <div class="respostas">
                        @for(partidaResposta of partidaQuestao.questao.respostas; track partidaResposta.id){
                            <div class="descricao">
                                <p>{{partidaResposta.descricao}}</p>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    
</div>