<div class="area-content">
    @if(partida){
        <div class="voltar">
            <a class="btn-voltar" routerLink="/usuario/escolher-categoria">Voltar</a>
        </div>
        <h1 class="cronometro">@if(minutos < 10){0}{{minutos}}:@if(segundos < 10){0}{{segundos}}</h1>
    
        <div class="wrapper-questao">
            @for(partidaQuestao of partida.partidaQuestoes; track partidaQuestao.questao.id; let index = $index){
                @if((index + 1) == questaoAtiva){
                    <div class="questao" [@inOutAnimation]>
                        <div class="titulo">
                            <p>Pergunta {{index + 1}}</p>
                            <h3>{{partidaQuestao.questao.descricao}}</h3>
                        </div>
                        <div class="respostas">
                            @for(partidaResposta of partidaQuestao.questao.respostas; track partidaResposta.id; let j = $index){
                                <div class="radio-input">
                                    <input 
                                        type="radio" 
                                        [id]="'resposta_' + j + '_' + index" 
                                        [name]="'dadosEnviar.respostas[' + index + '].idResposta'" 
                                        [value]="partidaResposta.id" 
                                        [(ngModel)]="dadosEnviar.respostas[index].idResposta"
                                        required
                                        #respostaRadio="ngModel"
                                    >
                                    <label [for]="'resposta_' + j + '_' + index">{{partidaResposta.descricao}}</label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="botoes">
                        @if(questaoAtiva > 1){
                            <button class="anterior" (click)="voltarQuestao()">ANTERIOR</button>
                        }
                        @if(questaoAtiva < 10){
                            <button (click)="proximaQuestao()">PRÓXIMO</button>
                        }
                        @else{
                            <button (click)="enviarRespostas()">ENVIAR</button>
                        }
                    </div>
                }
            }
        </div>
    }
    
</div>

@if(isLoading){
    <app-loader/>
}