<div>
    <a routerLink="edit">Adicionar Categoria</a>

    <div class="list-data">
        <div class="row-data">
            <div class="descr">
                <p>gfhfghfghfgh</p>
            </div>
            <div class="options">
                <button class="fa fa-close btn-delete"></button>
                <button class="fa fa-pencil btn-edit"></button>
            </div>
        </div>
        <div class="row-data">
            <div class="descr">
                <p>gfhfghfghfgh</p>
            </div>
            <div class="options">
                <button class="fa fa-close btn-delete"></button>
                <button class="fa fa-pencil btn-edit"></button>
            </div>
        </div>
        <div class="row-data">
            <div class="descr">
                <p>gfhfghfghfgh</p>
            </div>
            <div class="options">
                <button class="fa fa-close btn-delete"></button>
                <button class="fa fa-pencil btn-edit"></button>
            </div>
        </div>
        <div class="row-data">
            <div class="descr">
                <p>gfhfghfghfgh</p>
            </div>
            <div class="options">
                <button class="fa fa-close btn-delete"></button>
                <button class="fa fa-pencil btn-edit"></button>
            </div>
        </div>
    </div>
</div>