<select (change)="changeCategoria($event)">
    <option value="" disabled selected>Selecione uma categoria</option>
    @for(cat of categorias; track cat.id){
        <option [value]="cat.id">{{cat.nome}}</option>
    }
</select>

<div class="list-data">
    @for(r of ranking; track r.partida) {
        <div class="row-ranking">
            <span>{{r.usuario}}</span>
            <span>ACERTOS: {{r.acertos}}</span>
        </div>
    }

    @empty{
        <p class="italic">Nenhuma ranking encontrado</p>
    }
</div>

@if(isLoading){
    <app-loader></app-loader>
}