<select (change)="changeCategoria($event)">
    <option value="" disabled selected>Selecione uma categoria</option>
    @for(cat of categorias; track cat.id){
        <option [value]="cat.id">{{cat.nome}}</option>
    }
</select>

<div class="list-data">
    @for(r of ranking; track r.partida) {
        <div class="row-ranking" [ngClass]="{'user': r.idusuario === usuario?.id}">
            <span>{{r.nomeusuario}} @if(r.idusuario === usuario?.id) { (Você) }</span>
            <span>ACERTOS: {{r.acertos}} / 10</span>
        </div>
    }

    @empty{
        <p class="italic">Nenhuma ranking encontrado</p>
    }
</div>

@if(isLoading){
    <app-loader></app-loader>
}