.cards-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;

    .card{
        display: flex;
        align-items: flex-start;
        //flex: 1;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 2px 5px 8px 3px #a3a3a3;
        color: #fff;
        background: linear-gradient(90deg, rgb(25 101 6) 0%, rgb(112 187 66) 35%, rgb(169 211 186) 100%);
        width: 100%;

        .card-body{
            display: flex;
            align-items: center;
            gap: 20px;

            h1{
                font-size: 4rem;
            }
        }
    }
}