
<!-- msg de erros da api -->
@if (errors.idCategoria) {
    <div class="invalid-feedback">
        @for(erro of errors.idCategoria; track erro){
            <span>{{erro}}</span>
        }
    </div>
}


<!-- msg de erros da api -->
@if (errors.respostas) {
    <div class="invalid-feedback">
        @for(erro of errors.respostas; track erro){
            <span>{{erro}}</span>
        }
    </div>
}

<form name="questaoForm" #questaoForm="ngForm" (ngSubmit)="questaoForm.form.valid && salvar()" class="form">
    <div class="input-group">
        <label for="descricao">Descrição</label>
        <input 
            type="text" 
            id="descricao" 
            name="descricao" 
            [(ngModel)]="questao.descricao"
            required 
            #descricao="ngModel"
            [ngClass]="{ 'is-invalid': questaoForm.submitted && descricao.errors }"
        >

        @if (questaoForm.submitted && descricao.errors) {
            <div class="invalid-feedback">
                @if (descricao.errors['required']) {
                    <span>Descrição é obrigatória</span>
                }
            </div>
        }

        <!-- msg de erros da api -->
        @if (errors.descricao) {
            <div class="invalid-feedback">
                @for(erro of errors.descricao; track erro){
                    <span>{{erro}}</span>
                }
            </div>
        }
    </div>

    <div class="container-respostas">
        <h3>Alternativas:</h3>

        @for(resposta of questao.respostas; track resposta; let index = $index){
            <div class="resposta-questao">
                <div class="input-group">
                    <label [for]="'questao.respostas[' + index + '].descricao'">Alternativa {{ index + 1 }}</label>
                    <input 
                        type="text" 
                        [id]="'questao.respostas[' + index + '].descricao'" 
                        [name]="'questao.respostas[' + index + '].descricao'" 
                        [(ngModel)]="questao.respostas[index].descricao" 
                        placeholder="Descrição"
                        required 
                        #descricaoResposta="ngModel"
                        [ngClass]="{ 'is-invalid': questaoForm.submitted && descricaoResposta.errors }"
                    >

                    @if (questaoForm.submitted && descricaoResposta.errors) {
                        <div class="invalid-feedback">
                            @if (descricaoResposta.errors['required']) {
                                <span>Descrição é obrigatória</span>
                            }
                        </div>
                    }
                </div>
                <div class="radio-group">
                    <div class="radio-input">
                        <input 
                            type="radio" 
                            [id]="'resposta_certa' + index" 
                            [name]="'questao.respostas[' + index + '].certa'" 
                            [value]="true" 
                            [(ngModel)]="questao.respostas[index].certa"
                            required
                            #respostaRadio="ngModel"
                        >
                        <label [for]="'resposta_certa' + index" class="certa">Certa</label>
                    </div>

                    <!-- pelo name do input com o índice que a validação funciona pra cada campo -->
                    
                    <div class="radio-input">
                        <input 
                            type="radio" 
                            [id]="'resposta_errada' + index" 
                            [name]="'questao.respostas[' + index + '].certa'" 
                            [value]="false" 
                            [(ngModel)]="questao.respostas[index].certa"
                            required
                            #respostaRadio="ngModel"
                        >
                        <label [for]="'resposta_errada' + index" class="errada">Errada</label>
                    </div>
                </div>
                @if (questaoForm.submitted && respostaRadio.errors) {
                    <div class="invalid-feedback">
                        @if (respostaRadio.errors['required']) {
                            <span>Marque uma alternativa</span>
                        }
                    </div>
                }

                <!-- msg de erros da api -->
                @if (errors['respostas[' + index + '].descricao']) {
                    <div class="invalid-feedback">
                        @for(erro of errors['respostas[' + index + '].descricao']; track erro){
                            <span>{{erro}}</span>
                        }
                    </div>
                }
            </div>
        }
    </div>


    <div class="input-group">
        <button type="submit">Salvar</button>
        <a routerLink="../">Voltar</a>
    </div>
</form>