.common-layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; //sempre ocupará toda a tela

    @media(min-width: 768px){
        display: grid;
        grid-template-columns: 250px 1fr;//2 colunas, uma de 200px pra sidebar e outra com o restante do tamanho da tela pro conteudo
        grid-template-rows: 1fr auto;//2 linhas na tela, a segunda será "auto" então vai ocupar apenas o espaço necessário, vai ser ocupado pelo footer. o restante terá 1fr que é o espaço restante da tela
    }

    .sidebar{
        display: flex;
        flex-direction: column;
        background-color: #ddd;

        ul{
            list-style-type: none;
            padding: 0;

            li{
                font-size: 1.1rem;
                padding: 10px;

                &:hover{
                    font-size: 1.2rem;
                    transition: ease-in-out .2s;
                    font-weight: bold;
                }

                .link{
                    color: #000;
                    text-decoration: none;
                    width: 100%;
                    display: block;
                }

                button{
                    cursor: pointer;
                    padding: 5px 20px;
                    font-size: 1rem;
                    border: none;
                    background: #000;
                    color: #fff;
                    border-radius: 10px;
                }
            }
        }
    }

    footer{
        padding: 30px;
        background-color: #2a6d01;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        grid-column: span 2;
    }
}

.active{
    background-color: #2a6d01;

    & > *{
        color: #fff !important;
    }
}