<div class="common-layout">
    <nav class="sidebar">
        <ul>
            <li [class.active]="path.endsWith('admin')">
                <a class="link" routerLink=".">Início</a>
            </li>
            <li [class.active]="path.includes('/categorias')">
                <a class="link" routerLink="categorias">Categorias</a>
            </li>
            <li [class.active]="path.includes('/questoes')">
                <a class="link" routerLink="questoes">Questões</a>
            </li>
            <li>
                <button type="button" (click)="authService.logout()">Sair</button>
            </li>
        </ul>
    </nav>
    <section class="content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </section>
    <footer>
        2024
    </footer>
</div>
