.acertos{
    font-size: 3rem;
    color: #cc0000;
}

.titulo{
    background-color: #d9d9d9 !important;
}

.bg-resposta-enviada{
    background-color: #ffa5a5;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.bg-resposta-certa{
    background-color: #68a558;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
}

.icon{
    position: absolute;
    right: 0;
    top: -20px;
    width: 100px;
}

.nao-respondida{
    font-size: 4.3rem !important;
    position: absolute;
    z-index: 9999;
    top: 25%;
    color: red;
    font-weight: bold;

    @media screen and (min-width: 1024px) {
        font-size: 9rem !important;
    }
}

.disabled{
    opacity: 0.3;
}