<div class="auth-card">
    <!--Template-Driven Forms-->
    <form name="userForm" #userForm="ngForm" (ngSubmit)="userForm.form.valid && submit()" [appMatchPassword]="['senha', 'confirmarSenha']">
        <div class="input-group">
            <label for="nome">Nome</label>
            <input 
                type="text" 
                id="nome"
                name="nome"
                [(ngModel)]="dados.nome" 
                required 
                #nome="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && nome.errors }"
            >
            @if (userForm.submitted && nome.errors) {
                <div class="invalid-feedback">
                  @if (nome.errors['required']) {
                  <span>nome é obrigatório</span>
                  }
                  @if (nome.errors['nome']) {
                  <span>nome inválido</span>
                  }
                </div>
            }
        </div>
        <div class="input-group">
            <label for="email">E-mail</label>
            <input 
                type="email" 
                id="email"
                name="email"
                [(ngModel)]="dados.email" 
                required 
                email
                #email="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && email.errors }"
            >
            @if (userForm.submitted && email.errors) {
                <div class="invalid-feedback">
                  @if (email.errors['required']) {
                  <span>Email é obrigatório</span>
                  }
                  @if (email.errors['email']) {
                  <span>Email inválido</span>
                  }
                </div>
            }
        </div>
        <div class="input-group">
            <label for="senha">Senha</label>
            <input 
                type="password" 
                id="senha"
                name="senha"
                [(ngModel)]="dados.senha" 
                required 
                minlength="4"
                maxlength="40"
                #senha="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && senha.errors }"
            >
            @if (userForm.submitted && senha.errors) {
                <div class="invalid-feedback">
                @if (senha.errors['required']) {
                    <div>Senha é obrigatória</div>
                }
                @if (senha.errors['minlength']) {
                    <div>Senha deve ter pelo menos 4 caracteres</div>
                }
                @if (senha.errors['maxlength']) {
                    <div>Senha deve ter no máximo 40 caracteres</div>
                }
                </div>
            }
        </div>
        <div class="input-group">
            <label for="confirmarSenha">Confirmar senha</label>
            <input 
                type="password" 
                id="confirmarSenha"
                name="confirmarSenha"
                [(ngModel)]="dados.confirmarSenha" 
                required 
                #confirmarSenha="ngModel"
                [ngClass]="{ 'is-invalid': userForm.submitted && confirmarSenha.errors }"
            >
            @if (userForm.submitted && confirmarSenha.errors) {
                <div class="invalid-feedback">
                @if (confirmarSenha.errors['required']) {
                    <div>Senha é obrigatória</div>
                }
                @if (confirmarSenha.errors['matching']) {
                    <div>Senhas não batem</div>
                }
                </div>
            }
        </div>
        <div class="input-group">
            <button type="submit">CRIAR CONTA</button>
            <a routerLink="/login">fazer login</a>
        </div>
    </form>
</div>